<div class="modal fade" id="addStaffModal" tabindex="-1">
    <div class="modal-dialog">
        <form id="addStaffForm" class="modal-content">
            <div class="modal-header"><h5>إضافة موظف</h5></div>
            <div class="modal-body">
                <input type="text" name="username" class="form-control mb-2" placeholder="اسم المستخدم">
                <input type="tel" name="phone" class="form-control" placeholder="رقم الهاتف">
            </div>
            <div class="modal-footer"><button type="submit" class="btn btn-royal">حفظ</button></div>
        </form>
    </div>
</div>
