Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
Flask-Login==0.6.3
Flask-Migrate==4.1.0
psycopg2-binary==2.9.9
gunicorn==22.0.0
Flask-WTF==1.2.1
Flask-CORS==5.0.0
python-dotenv==1.0.1
Pillow==10.3.0
email-validator==2.1.1
PyGithub==2.3.0
cryptography==42.0.5
requests==2.31.0
weasyprint==62.1
CairoSVG==2.7.1
flask-talisman==1.1.0
flask-limiter==3.7.0
limits==3.10.0
flask-paginate==2024.4.12
deep-translator==1.11.4
whatsapp-web-python==1.1.0
